@import url('./assets/font/Poppins/stylesheet.css');
@import url('./assets/font/StintUltraCondensed/stylesheet.css');

$primary-font: 'Poppins', sans-serif, monospace;
$primary-condensed: 'Stint Ultra Condensed', sans-serif, monospace;
$page-borders: #40a8c4;
$nav-texture: url('./assets/img/textures/stardust.png');
$main-texture: url('./assets/img/textures/wavecut.png');

// KEYFRAMES ----------------------------------------------------//
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

// ANIMATIONS ---------------------------------------------------//
.slide-in-top {
  -webkit-animation: slide-in-top 0.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-top 0.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-out-top {
	-webkit-animation: slide-out-top 0.25s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
  animation: slide-out-top 0.25s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
}

.slide-out-right {
	-webkit-animation: slide-out-right 0.25s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: slide-out-right 0.25s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.25s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: slide-in-right 0.25s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

// HTML, BODY & UNIVERSAL ----------------------------------------//
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100vh;
  font: 400 16px/16px $primary-font;
  color: #505050;
  background: $main-texture, #3893AC;
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
}

// NAVBAR CONTAINER --------------------------//
.navbar-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex-flow: row nowrap;
  align-items: center;
  height: 65px;
  width: 100%;
  padding: 0 15px;
  z-index: 5;
  background: $nav-texture, $page-borders;
  border-bottom: 1px solid #307E93;
  -webkit-box-shadow: 0px 4px 13px 1px rgba(22,60,69,1);
  -moz-box-shadow: 0px 4px 13px 1px rgba(22,60,69,1);
  box-shadow: 0px 4px 13px 1px rgba(22,60,69,1);

  .nav-logo-container {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    margin-right: auto;

    .nav-logo {
      height: 55px;
      width: auto;
      border-radius: 50%;
      border: 3px solid #BFB58B;
    }

    h4 {
      font: 400 42px/42px $primary-condensed;
      padding-left: 20px;
      color: #dcdcdc;
      cursor: pointer;
      margin: 0;
      padding: 4px 14px;
      margin-left: 20px;
      border-radius: 4px;
      border: 1px solid #3893AC;
      background-color: #3893AC;
      -webkit-box-shadow: inset 0px 0px 7px -1px rgba(39,109,125,1);
      -moz-box-shadow: inset 0px 0px 7px -1px rgba(39,109,125,1);
      box-shadow: inset 0px 0px 7px -1px rgba(39,109,125,1);
    }
  }

  .menu-tab,
  .delivery-tab,
  .about-tab {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0 30px;

    h3 {
      font: 300 36px/36px $primary-condensed;
      letter-spacing: 1px;
      cursor: pointer;
      color:#dcdcdc;
      padding: 6px 14px;
      border-radius: 4px;
      margin: 0;
      background-color: #3893AC;
      border: 1px solid #3893AC;
      -webkit-box-shadow: inset 0px 0px 7px -1px rgba(39,109,125,1);
      -moz-box-shadow: inset 0px 0px 7px -1px rgba(39,109,125,1);
      box-shadow: inset 0px 0px 7px -1px rgba(39,109,125,1);
    }
  }
}

// PAGE CARD BOX SHADOWS
.landing-container,
.about-container,
.menu-container {
  border-right: 1px solid #28697B;
  border-left: 1px solid #28697B;
  border-bottom: 1px solid #28697B;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 2px 27px -1px rgba(22,60,69,1);
  -moz-box-shadow: 0px 2px 27px -px rgba(22,60,69,1);
  box-shadow: 0px 2px 27px -px rgba(22,60,69,1);
}

// HOMEPAGE ----------------------------------//
.landing-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 90%;
  background: url('./assets/img/Meals/Sides/header.jpeg') no-repeat 100% / 100%;
  background-position: top;
  padding: 0 20px 20px 20px;

  .landing-title {
    display: block;
    width: 66%;
    height: auto;
    overflow: hidden;
    white-space: normal;
    word-wrap: normal;
    position: relative;
    bottom: 10px;

    h1 {
      width: 100%;
      overflow: hidden;
      font: 700 72px/72px $primary-font;
      color: rgba(0, 121, 107, 0.8);
      background: rgba(256, 256, 256, 0.4);
      padding: 12px 14px;
      letter-spacing: -4px;
      border-radius: 4px;
      text-align: center;
    }
  }

  .landing-search {
    display: flex;
    width: 66%;
    height: 50px;
    background: red;
    margin-bottom: 30px;

    input {
      height: 50px;
      width: 80%;
    }

    button {
      height: 50px;
      width: 20%;
    }
  }

  .landing-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: auto;
    width: 50%;
    align-items: start;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      background-color: red;
      margin-right: 30px;
    }
  }
}

// ABOUT PAGE -----------------------------------//
.about-container {
  width: 95%;
  height: 90%;
  background: url('./assets/img/textures/paper.png'), #dcdcdc;
  .about-contents-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-flow: row nowrap;

    .about-text-container,
    .about-image-container {
      height: 100%;
      width: 50%;
      margin-right: 0;
    }

    .about-text-container {
      text-align: left;
      padding: 100px 30px 30px 30px;

      h3 {
        font: 600 24px/24px $primary-font;
        margin-bottom: 0;
      }

      h1 {
        font: 400 68px/68px $primary-condensed;
        margin: 0;
      }

      p {
        font: 300 24px/24px $primary-font;
        line-height: 1.3;
      }

      button {
        width: 270px;
        height: 50px;
        border: none;
        border-radius: 4px;

        p {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          margin: 0;

          .fa-arrow-circle-right {
            font-size: 24px;
            margin-left: 10px;
          }
        }
      }
    }

    .about-image-container {
      background: url('./assets/img/Meals/backgroundt.jpeg') no-repeat 50% / 100%;
    }
  }
}

// MENU PAGE -------------------------------------//
.menu-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 95%;
  height: 90%;
  background: url('./assets/img/textures/paper.png'), #dcdcdc;
  overflow: hidden;
  overflow-y: auto;
  padding: 30px;
  scroll-behavior: smooth;

  .menu-shortcuts {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    justify-content: space-evenly;
    margin-top: 40px;

    a {
      background-color: #28697B;
      color: #dcdcdc;
      padding: 12px 22px 12px 6px;
      font-size: 36px;
      border-radius: 8px 100px 100px 8px;
      font-family: $primary-condensed;
      margin: 20px 0;
      text-decoration: none;
      transition-duration: 0.15s;

      &:hover {
        background-color: #40a8c4;
        transition-duration: 0.3s;
        color: #dcdcdc;
      }
    }
  }

  h1 {
    font: 600 96px/96px $primary-condensed;
    width: 70%;
    text-align: center;
    border-top: 5px double #28697B;
    border-bottom: 5px double #28697B;
    margin: 40px 0 10px 0;
  }

  h2 {
    width: 280px;
    font: 400 64px/64px $primary-condensed;
    padding: 12px 20px;
    color: #dcdcdc;
    background-color: rgba(0, 121, 107, 0.8);
    border-radius: 6px 100px 100px 6px;
    margin: 20px 10px 20px 10px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: #dcdcdc;
    }
  }

  button {
    transition-duration: 0.15s;
    &:hover {
      background-color: #307E93;
      transition-duration: 0.3s;
      color: #dcdcdc;
      transform: scale(1.02);
    }
  }

  //SANDWICH MENU -------------//
  .sandwich-container,
  .sides-container,
  .desserts-container {
    height: auto;
    width: 100%;

    .sandwich-row,
    .sides-row,
    .desserts-row {
      display: flex;
      height: 500px;
      width: 100%;
      flex-flow: row nowrap;
      margin-bottom: 30px;
      border-bottom: 5px double #40a8c4;
      padding: 20px 0;

      .sandwich,
      .sides,
      .desserts {
        display: flex;
        flex-flow: column nowrap;
        padding: 20px;
        height: 450px;
        width: 70%;

        h4 {
          font: 400 58px/58px $primary-condensed;
          margin: 0;
          margin-bottom: 15px;
        }

        p {
          font: 200 20px/20px $primary-font;
          line-height: 1.5;
          letter-spacing: 0.9;
          margin: 0;
          margin-bottom: 15px;
        }

        p:nth-child(3) {
          font-weight: 700;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 250px;
          height: 70px;
          border: none;
          border-radius: 4px;
          margin-top: 10px;

          p {
            font-size: 18px;
            margin: 0;

            svg {
              margin-left: 10px;
            }
          }
        }
      }

      .sandwich-image,
      .sides-image,
      .desserts-image {
        height: 100%;
        width: 30%;
        padding: 20px;
        border-radius: 4px;
        border-top: 3px solid #ABEBC6;
        border-left: 3px solid #ABEBC6;
        border-bottom: 3px solid #76D7C4;
        border-right: 3px solid #76D7C4;
      }

      .sandwich-text,
      .sides-text,
      .desserts-text {
        height: auto;
        padding: 0;
      }

      .sandwich-image-0,
      .sandwich-image-1,
      .sandwich-image-2,
      .sandwich-image-3,
      .sandwich-image-4,
      .sandwich-image-5,
      .sandwich-image-6,
      .sides-image-0,
      .sides-image-1,
      .sides-image-2,
      .sides-image-3,
      .sides-image-4,
      .sides-image-5,
      .desserts-image-0,
      .desserts-image-1,
      .desserts-image-2,
      .desserts-image-3 {
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        background-size: cover;
      }

      // SANDWICH IMAGES -------------//
      .sandwich-image-0 {
        background-image: url('./assets/img/Meals/Sandwiches/1.jpeg');
      }

      .sandwich-image-1 {
        background-image: url('./assets/img/Meals/Sandwiches/2.jpeg');
      }

      .sandwich-image-2 {
        background-image: url('./assets/img/Meals/Sandwiches/3.jpeg');
        background-position: bottom;
      }

      .sandwich-text-3 {
        width: 50%;
        height: auto;
      }

      .sandwich-image-3 {
        width: 50%;
        background-image: url('./assets/img/Meals/Sandwiches/4.jpeg');
      }

      .sandwich-image-4 {
        background-image: url('./assets/img/Meals/Sandwiches/5.jpeg');
      }

      .sandwich-image-5 {
        background-image: url('./assets/img/Meals/Sandwiches/6.jpeg');
      }

      .sandwich-image-6 {
        background-image: url('./assets/img/Meals/Sandwiches/7.jpeg');
        background-position: bottom;
      }

      .sandwich-image-7 {
        background-image: url('./assets/img/Meals/Sandwiches/8.jpeg');
        background-size: 100% 100%;
      }

      // SIDES-IMAGES --------------//
      .sides-image-0 {
        background-image: url('./assets/img/Meals/Sides/1.jpeg');
      }

      .sides-text-1 {
        width: 50%;
      }

      .sides-image-1 {
        width: 50%;
        background-image: url('./assets/img/Meals/Sides/2.jpeg');
      }

      .sides-text-2 {
        width: 50%;
      }

      .sides-image-2 {
        width: 50%;
        background-image: url('./assets/img/Meals/Sides/3.jpeg');
      }

      .sides-image-3 {
        background-image: url('./assets/img/Meals/Sides/4.jpeg');
      }

      .sides-image-4 {
        background-image: url('./assets/img/Meals/Sides/5.jpeg');
      }

      .sides-image-5 {
        background-image: url('./assets/img/Meals/Sides/6.jpeg');
      }

      // DESSERTS IMAGES ------------------------//
      .desserts-image-0 {
        background-image: url('./assets/img/Meals/Deserts/1.jpeg');
        background-size: auto 100%;
      }

      .desserts-image-1 {
        background-image: url('./assets/img/Meals/Deserts/2.jpeg');
      }

      .desserts-image-2 {
        background-image: url('./assets/img/Meals/Deserts/3.jpeg');
      }

      .desserts-image-3 {
        background-image: url('./assets/img/Meals/Deserts/4.jpeg');
      }
    }

    .sandwich-row:nth-child(5) {
      border: 10px double #ffc93c;
      padding-left: 10px;
      padding-right: 10px;
    }

    .sides-row:nth-child(3) {
      border: 10px double #ffc93c;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .drinks-container {
    height: auto;
    width: 100%;
    
    .drinks-subcontainer {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      height: 100%;
      padding: 20px;

      .menu-block {
        display: inline-flex;
        flex-flow: column nowrap;
        height: 420px;
        width: 50%;
        margin-bottom: 15px;

        h5 {
          font: 400 36px/36px $primary-condensed;
          margin: 0;
          margin-bottom: 10px;
        }

        .menu-item {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            border: none;
            border-radius: 4px;
            margin-left: auto;
            margin-right: 40px;

            p {
              color: #505050;
              font-size: 14px;
              margin: 0;
            }

            &:hover {
              p {
                color: #dcdcdc;
              }
            }
          }
        }
      }

      .coffee-container {
        height: 450px;
      }
    }
  }
}